/* =========================================================
    Layout & Global Styling
   ========================================================= */
.min-h-screen {
  min-height: 1100px;
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =========================================================
    App Title
   ========================================================= */
.app-title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5rem;
  font-weight: bold;
  color: #222;
  z-index: 1002;
  font-family: Arial, sans-serif;
  text-align: center;
}

.map-container {
  position: relative;   /* 砖  砖驻转专 拽 住转 驻 */
  top: -160px;
  width: 800px;
  height: 600px;
  background-color: hsl(200, 21%, 95%); /* 专拽注  砖转 */
  margin: 0 auto
}

.add-area-button {
  position: absolute;  /* 注 驻 */
  top: 10px;           /* 专拽 拽 注 砖 驻 */
  left: 10px;          /* 转 爪 砖 */
  padding: 12px 20px;  /*  驻转专 */
  font-size: 1rem;
  font-weight: 600;
  background-color: #05cb5a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1001;       /* 注 砖转 专转 */
}

.add-area-button.active {
  background-color: #d9534f;
}

/* =========================================================
    Shelter List (Sidebar)
   ========================================================= */
.shelter-list {
  position: fixed;
  top: 0px;
  left: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  max-height: 400px;
  overflow-y: auto;
  z-index: 1003;
  width: 250px;
  font-family: Arial, sans-serif;
}

.shelter-list h3 {
  margin-bottom: 15px;
  color: #222;
  font-size: 1.2rem;
}

.shelter-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shelter-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #333;
  font-size: 0.95rem;
}

/* =========================================================
    Shelter Form (Popup)
   ========================================================= */
.shelter-form {
  position: absolute;
  top: 10%;
  right: 5%;
  background: #fff;
  padding: 40px;
  border: 2px solid #023b79;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  z-index: 1001;
  box-sizing: border-box;
}

.shelter-form h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #222;
}

.shelter-form label {
  display: block;
  margin-top: 10px;
  color: #333;
}

.shelter-form input,
.shelter-form select,
.shelter-form textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1.5px solid #888;
  border-radius: 6px;
  font-size: 1rem;
}

.leaflet-control-zoom {
  top: 60px;  /* 专 转 驻转专 + / - 注  */
}

body {
  background-color: #effbf2; /*  专 */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

